*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(28, 1, 61);
}
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(12, 0, 54);
    box-shadow: 0 0 10px black;
}

.logo-header img{
    height: 80px;
    width: 250px;
    padding-top:5px;
}
.Nav-Header {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    color: white;
    text-decoration: none;
}
li{
     padding: 30px;  
}
.button{
    height: 40px;
    width: 120px;
    background-color: white;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    color:rgb(198, 162, 255);
    font-size: 20px;
    cursor: pointer;
}

a:hover{
     color: white;
     border-bottom: 3px solid rgb(198, 162, 255);
}
a[Home]:active{
    border-bottom: 2px solid tomato;
}
li a{
    color:rgb(198, 162, 255);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}

.Stocker{
    height: 50px;
    width: 150px;
    background-color: white;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    color:rgb(198, 162, 255);
    font-size: 20px;
}
.button-text{
    height: 60px;
    width: 220px;
    background-color: white;
    border: none;
    border-radius: 35px;
    margin-top: 30px;
    color:rgb(198, 162, 255);
    font-size: 25px;
    cursor: pointer;
}
.main-dody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(38, 0, 73);
    border-radius: 20px;
    margin: 40px;
    margin-top: 100px;
}
.Custom-text{
   padding: 100px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}
.Stocker{
   margin-bottom:30px;
   background-color: rgb(198, 162, 255);
   color: black;
   font-size: 20px;
   font-weight: 600;
}
.Text-All{
    font-size: 30px;
    font-weight: 600;
}
#para-main{
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 15px;
    font-weight: 500;
}
.main-image img{
    height: 70vh;
    width: 550px;
    border-radius: 25px;
    margin-right: 50px;
}
.top-tranding{
    margin: 45px;
    background-color: rgb(38, 0, 73);
    border-radius: 20px;
}
.main{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: aliceblue;
}
.main-dody-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px;
    background-color: rgb(38, 0, 73);
    border-radius: 20px;
    height: 100vh;
}
@keyframes Parth {
    to{
       transform: translateY(-10px);
    }
 }
 .main-image img{
    animation: Parth 0.7s linear infinite alternate;
 
  }
.para-header{
    padding-bottom: 50px;
    font-size: 50px;
    color:rgb(198, 162, 255);
}
@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 50%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 50%, 0.4);
    }
    
    40% { 
      color: rgb(198, 162, 255);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 50%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  
  
  h2 {
    margin: auto;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main-dody-2{
    height: 100vh;
    display: flex;
    align-items: center;
   justify-content:space-between;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  #card-container {
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-wrap: wrap;        
} 
.card-container:hover{
  background-color:rgb(32, 32, 32);
}
  /* .card{
    color: white;
    font-family:Poppins;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  } */
  .card img{
    height: 60px;
    width: 60px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  #h4-stock{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
  }
  p{
    font-size: 20px;
    text-align: justify;
    font-weight: 600;
    padding-left: 20px;
  }
  .main-body-flex{
    margin: 50px;
    background-color: rgb(38, 0, 73);
    border-radius: 20px;
    text-align: center;

  }
  .main-dody-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 45px; */
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    height: 100vh;
    margin-top: 90px;
    border-radius: 50% 0 50%;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  padding: 10px;
  flex-direction: row;
  padding-left: 20px;
}
#h3-1{
  font-size: 30px;
  padding-left: 18px;
}
#h4-1{
  font-size: 25px;
  text-align: start;
  color: rgb(116, 116, 116);
}
#btn-1{
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  height: 40px;
  width: 100px;
  background-color: red;
  border-radius: 20px;
  margin-left: 15px;
}
#btn-2{
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  height: 40px;
  width: 100px;
  background-color: rgb(115, 255, 0);
  border-radius: 20px;
  margin-left: 15px; 
}

@media only screen and (max-width:768px) {
  .card-container{
    padding: 30px;
    margin: 50px;
    /* background-color: none; */
  }
  .main-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: none;
  }
  .Nav-Header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
   width: 100%;
   margin: auto;
   display: none;
  }

  .main-dody-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px;
    border-radius: 20px;
    height: 100vh;
    background-color: rgb(28, 1, 61);
}
.main-dody{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px;
  border-radius: 20px;
  height: 100vh;
  background-color: rgb(28, 1, 61);
}

.main-image img{
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  width: 550px;
  border-radius: 25px;
  margin-right: 50px;
}

}




.main-page{
  background-color: rgb(38, 0, 73);
  height: 450px;
  width: 100%;
  border-radius: 0 0 50px 50px;
}
.main-table{
   margin: auto;
   border: 2px transparent;
   padding: 10px;
}
.Tabel-Header th{
 padding: 10px;
 background-color: rgb(255, 255, 255);  
 padding-left: 50px;
 padding-right: 30px;
 font-size: 23px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Table-Body td{
  padding: 10px;
  background-color: rgb(255, 255, 255);  
  padding-left: 50px;
  padding-right: 30px;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: blueviolet;
  font-weight: 600;
}

.main-dody-6{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 45px; */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 100vh;
  margin-top: 90px;
}
#para-main-1{
  color: rgb(49, 0, 128);
  font-size: 20px;
  padding-top: 20px;
  
}

.para-header{
  padding-bottom: 50px;
  font-size: 50px;
  color:rgb(98, 0, 255);
  padding-left: 50px;
  margin-left: 10px;
}
@keyframes lights {
  0% {
    color: hsl(231, 51%, 49%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(135, 88%, 39%, 0.3),
      -1em -0.125em 0.5em hsla(40, 80%, 39%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(18, 91%, 50%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(283, 100%, 50%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 50%, 0.4);
  }
  
  40% { 
    color: rgb(116, 46, 228);
    text-shadow:
      0 0 1em hsla(125, 100%, 39%, 0.5),
      0 0 0.125em hsla(320, 97%, 48%, 0.5),
      -0.25em -0.125em 0.125em hsla(187, 100%, 50%, 0.2),
      0.25em 0.125em 0.125em hsla(0, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(228, 100%, 2%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 76%, 47%, 0.4);
  }
  
  100% {
    color: hsl(119, 90%, 36%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}
.Text-All-1{
  font-size: 30px;
  font-weight: 600;
  color:  rgb(198, 162, 255);
  padding-left: 20px;
  padding-top: 10px;
}

.button-text-1{
    height: 60px;
    width: 220px;
    background-color: rgb(198, 162, 255);
    border: none;
    border-radius: 35px;
    margin-top: 30px;
    color:rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
}
.main-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#flex-main{
     height: 500px;
}